<%= form_for(@user, :url => { :action => "update_password" },  :html => { :class => "col-md-12" }) do |f| %>
<div class="col-lg-6">
	<div class="form-group">
		<label class="control-label">Current Password</label>
		<div class="controls">
			<%= f.password_field :current_password, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">New Password</label>
		<div class="controls">
			<%= f.password_field :password, :autocomplete => "off" , :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">New Password Again</label>
		<div class="form-group">
			<%= f.password_field :password_confirmation , :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-dark">
			<i class="icon-ok-sign"></i> Update Password
		</button>
	</div>
</div>
<% end %>
