/* ---------------------------------------------------------------------- */
/* Tabs
/* ---------------------------------------------------------------------- */
.nav-tabs {
  margin-bottom: 0;
  padding: 0;
}
.nav-tabs > li {
  margin-bottom: -3px;
  text-align: center;
}
.nav-tabs > li.dropdown.active a {
  cursor: pointer;
}
.nav-tabs > li.dropdown .dropdown-menu > .active a, .nav-tabs > li.dropdown .dropdown-menu > .active a:hover, .nav-tabs > li.dropdown .dropdown-menu > .active a:focus {
  background-color: #a7acb7;
  color: white;
}
.nav-tabs > li > a {
  border: 0 none;
  border-radius: 0;
  color: #8E9AA2;
  min-width: 70px;
  padding: 15px 20px;
}
.nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
  border-width: 0;
}
.nav-tabs > .active a, .nav-tabs > .active a:hover, .nav-tabs > .active a:focus {
  border: 0 none;
  -webkit-box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1) 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1) 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1) 2px 5px rgba(0, 0, 0, 0.4);
  color: #505458;
}

.panel-tabs, .tabbable {
  background-color: #E6E8E8;
  padding: 1px;
  margin-bottom: 15px;
}

.panel-tabs {
  padding: 0;
}
.panel-tabs .panel-heading {
  background: #E6E8E8;
}
.panel-tabs .panel-body {
  padding: 0;
}
.panel-tabs .tabbable {
  margin: 0;
  padding: 0;
}
.panel-tabs .nav-tabs {
  border: medium none;
  float: right;
  margin-top: -49px;
}
.panel-tabs .nav-tabs > li > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tab-content {
  background-color: #FFFFFF;
  position: relative;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
  padding: 15px;
}

.tab-content > .active, .pill-content > .active {
  display: block;
  padding: 19px;
}

.tabs-left.tabbable {
  background-color: none;
  padding: 0;
}
.tabs-left .tab-content {
  border-top: 1px solid #E6E8E8;
  border-right: 1px solid #E6E8E8;
  border-bottom: 1px solid #E6E8E8;
  overflow: hidden;
}
.tabs-left > .nav-tabs {
  border: none;
  float: left;
  margin-bottom: 0;
  top: auto;
}
.tabs-left > .nav-tabs > li {
  float: none;
  text-align: left;
}
.tabs-left > .nav-tabs > li > a, .tabs-left > .nav-tabs > li a:focus, .tabs-left > .nav-tabs > li a:hover {
  border-color: #E6E8E8;
  margin: 0 -1px 0 0;
}
.tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs > li.active a:focus, .tabs-left > .nav-tabs > li.active a:hover {
  border-color: #E6E8E8;
  border-right: none;
  border-left: 1px solid #E6E8E8;
  border-top-width: 1px;
  margin: 0 -1px;
}

.tabs-right.tabbable {
  background-color: none;
  padding: 0;
}
.tabs-right .tab-content {
  border-top: 1px solid #E6E8E8;
  border-left: 1px solid #E6E8E8;
  border-bottom: 1px solid #E6E8E8;
  overflow: hidden;
}
.tabs-right > .nav-tabs {
  border: none;
  float: right;
  margin-bottom: 0;
  top: auto;
}
.tabs-right > .nav-tabs > li {
  text-align: left;
  float: none;
}
.tabs-right > .nav-tabs > li > a, .tabs-right > .nav-tabs > li a:focus, .tabs-right > .nav-tabs > li a:hover {
  border-color: #E6E8E8;
  margin: 0 0 0 -1px;
}
.tabs-right > .nav-tabs > li.active > a, .tabs-right > .nav-tabs > li.active a:focus, .tabs-right > .nav-tabs > li.active a:hover {
  border-color: #E6E8E8;
  border-right: 1px solid #E6E8E8 !important;
  border-left: none;
  border-top-width: 1px;
  margin: 0 -1px;
}

.tabs-below > .nav-tabs {
  border-bottom-width: 0;
  border-color: #E6E8E8;
  margin-bottom: 0;
  margin-top: 0;
  top: auto;
}
.tabs-below > .nav-tabs > li {
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a, .tabs-below > .nav-tabs > li a:focus, .tabs-below > .nav-tabs > li a:hover {
  border-color: #E6E8E8;
}
.tabs-below > .nav-tabs > li.active > a, .tabs-below > .nav-tabs > li.active a:focus, .tabs-below > .nav-tabs > li.active a:hover {
  border-bottom: none;
  border-color: transparent #E6E8E8 #E6E8E8;
  margin-top: 0;
}

.partition-dark .nav-tabs {
  border: none;
}
.partition-dark .nav-tabs > li {
  margin-bottom: 0;
}
.partition-dark .nav-tabs > li.active > a, .partition-dark .nav-tabs > li.active > a:hover, .partition-dark .nav-tabs > li.active a:focus {
  background-color: #2c2f3b;
  border: none;
  color: white;
}
.partition-dark .nav-tabs > li.active > a:before, .partition-dark .nav-tabs > li.active a:after {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.partition-dark .nav-tabs > li.active > a:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #2c2f3b;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index: 1;
}
.partition-dark .nav-tabs > li > a {
  border: none;
  color: #a7acb7;
  padding: 10px 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.partition-dark .nav-tabs > li > a:hover, .partition-dark .nav-tabs > li a:focus {
  background-color: #2c2f3b;
}
.partition-dark .tab-content {
  z-index: 0;
  color: #2c2f3b;
}
/* ---------------------------------------------------------------------- */
/* Registration
/* ---------------------------------------------------------------------- */
/* =========== Modal Pop Up window =============== */
.modal-dialog {
    margin: 30px auto;
    width: 800px;
}
.modal-header {
    border-bottom: 0px;
}
.modal-body {
    text-align: center;
}
.panel-body {
    padding: 0px;
}
/* ================== Icons =================== */
.glyphicon {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}
.glyphicon-lock:before {
    content: "";
}
.glyphicon-envelope:before {
    content: "✉";
}
.glyphicon-user:before {
    content: "";
}
/* ================== Buttons ======================== */
.btn-dark {
    background-color: #2e3e4e;
    border-color: #2e3e4e;
    color: #fff !important;
}
.btn-danger {
    background-color: #fb6b5b;
    border-color: #fb6b5b;
    color: #fff !important;
}
.btn {
    border-radius: 2px;
    font-weight: 500;
}
/* ================== Upload User Photo ================== */
.onboarding {
    margin-top: 0px;
}
.onboarding .stepNumber, .invoiceSending .stepNumber, .payPreview .stepNumber, .actualPay .stepNumber, .regimBox .stepNumber {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 25px;
    text-transform: uppercase;
}
.onboarding h3, .panel-default h3{
    border-bottom: 1px solid #c7c7c7;
    color: #272727;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 0px;
    padding-bottom: 14px;
}
.transfer-errors, .photo-errors, .payment-errors {
    color: #c43636;
    display: block;
    padding-bottom: 15px;
}
.photoPreview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    border: 1px solid #b4b4b4;
    border-radius: 75px;
    cursor: pointer;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}
.fa-upload:before {
    content: "“";
}
.photoPreview .photoUpload {
    color: #b4b4b4;
    font-size: 32px;
    margin-top: 35px;
}
.fa {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.photoPreview p {
    color: #b4b4b4;
    font-size: 16px;
}
#uploadAvatar {
    display: none;
}
.onboarding input, .invoiceSending input, .payPreview input, .actualPay input, .regimBox input {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    outline: medium none;
    padding: 12px 24px 12px 36px;
    width: 75%;
}
.deletePhoto {
    color: #da7364;
    cursor: pointer;
    margin-top:15px;
}
#submitPhoto {
    background-color: #26a65b;
    border: medium none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 25px 10px 0;
    padding: 14px 35px;
    text-transform: uppercase;
}


/* =================== Form ===================== */
.page-signin .line-thru:before, .page-signup .line-thru:before {
    background-color: #f3f3f3;
    content: "";
    height: 10px;
    left: 50%;
    margin: -5px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: -1;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

/* ===================== Header ===================== */
.page-header {
    border-bottom: 5px solid #dddddb;
    margin-top: 10px;
}
/* ==================== User small Avatar ==================== */
.user-avatar {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* ==================== Remove White Line Under Header ============== */
.panel {
    border: 0px;
}
/* ==================== Form Text Size Reset ====================== */
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 6px;
    font-size: 14px;
    height: 46px;
    line-height: 1.33;
    padding: 10px 16px;
}

/* ==================== Extra CSS  ============== */
html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    height: 100%;
    width: 100%!important;
    background-color: #33383d;
    margin: 0;
    padding:0;
}

body > .row {
    margin-left: 0;
    margin-right: 0;
}



/* ========================================================================
 * ========================================================================
 * ========================================================================
 * 2. TYPOGRAPHY
 * ========================================================================
 * ========================================================================
 * ======================================================================== */


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    line-height: 1em;
    text-shadow: 0 0 1px rgba(51,51,51,.2);
    color: inherit;
}

h1,
h2,
h3,
.page-header h1,
.page-header h2,
.page-header h3 { letter-spacing: -1px; }

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3e6f82;
    text-decoration: underline;
}

.page-header {
    margin-top: 10px;
    border-bottom: 5px solid #dddddb
}

.page-header h1 {
    margin: 0;
    color: #858689;
    text-transform: uppercase
}

.page-header h2,
.page-header h3 { margin: 0; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    text-transform: none;
    font-weight: 400;
    letter-spacing:0;
    color: #949fb2;
    font-size: 75%;
}

h1 small:before,
h2 small:before,
h3 small:before,
h4 small:before,
h5 small:before,
h6 small:before,
.h1 small:before,
.h2 small:before,
.h3 small:before,
.h4 small:before,
.h5 small:before,
.h6 small:before,
h1 .small:before,
h2 .small:before,
h3 .small:before,
h4 .small:before,
h5 .small:before,
h6 .small:before,
.h1 .small:before,
.h2 .small:before,
.h3 .small:before,
.h4 .small:before,
.h5 .small:before,
.h6 .small:before { content: "\0000a0 \7c \0000a0"; }

h1.colossal {
    font-size:3.5em;
    letter-spacing:-2px;}

h1.colossal i {
    font-size:50%;
    vertical-align: middle;
    padding:0 5px;
}

/*Text links must always have underline*/


p a { text-decoration: underline }

/*Button as a - not! :) */


a.btn { text-decoration: none }

.label {
    text-transform: uppercase;
    font-weight: 700;
}

blockquote {
    border-left: 5px solid #c0c2c7;
}

.dropcap {
    display: block;
    background: #f1f1f1;
    color: #555;
    float: left;
    line-height: 40px;
    font-size: 50px;
    font-weight: 700;
    padding: 8px;
    padding-bottom: 12px;
    margin-right: 10px;
}

.dark-block {
    width: 150px;
    font-size: .95em;
    padding: 20px;
    margin-left: 10px;
    background: #555;
    color: #fff
}

.scissors-block {
    border: 2px dotted #999;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 15px;
    position: relative;
}

.scissors-block:before {
    font-family: 'FontAwesome';
    content: "\f0c4";
    color: #999;
    background: #fff;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 15px;
    position: absolute;
    top: -20px;
    right: 49%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.scissors-block:after {
    font-family: 'FontAwesome';
    content: "\f0c4";
    color: #999;
    background: #fff;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 15px;
    position: absolute;
    bottom: -20px;
    right: 49%
}

.icon-block {
    display: block;
    float: left;
    width: 120px;
    text-align: center;
    height: 120px;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 20px;
    font-style: italic;
    margin: 0 10px;
    color: #999
}

/* ========================================================================
 * ========================================================================
 * ========================================================================
 * 4. ORB WIDGETS
 * ========================================================================
 * ========================================================================
 * ======================================================================== */

/* Main */


.powerwidget {
    margin: 0 0 20px 0;
    position: relative;
    border-radius: 3px;
    padding: 0;
}

/* Header */


.powerwidget > header {
    height: 40px;
    padding: 0 0 0 10px;
    line-height: 40px;
}

.ui-sortable .powerwidget-sortable > header { cursor: move; }

.powerwidget > header h2 {
    height: 100%;
    letter-spacing: normal;
    width: auto;
    float: left;
    font-size: 1.2em;
    position: relative;
    margin: 0;
    line-height: 40px;
}

.powerwidget > header .powerwidget-icon {
    width: 16px;
    height: 16px;
    float: left;
    margin: 12px 5px 0 0;
    display: block;
    zoom: 1;
    z-index: 4000;
    text-align: center;
    line-height: 16px;
    font-size: 13px;
}

.powerwidget-ctrls {
    width: auto;
    float: right;
    padding: 10px 2px 0 0;
    margin: 0;
}

.powerwidget-ctrls .button-icon {
    float: left;
    position: relative;
    margin: 0 5px 5px 0;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.powerwidget-ctrls .button-icon i {
    width: 18px;
    text-align: center;
}

.powerwidget-ctrls .button-icon:hover { text-decoration: none; }

/* Content */


.powerwidget > div {
    float: left;
    width: 100%;
    min-height: 20px;
    position: relative;
    margin: 0;
}

.powerwidget .inner-spacer {
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.powerwidget .inner-spacer-zero-padding { padding: 0; }

/* Edit box */


.powerwidget-editbox input { width: 85% }

.powerwidget-editbox {
    display: none;
    padding: 10px;
    padding-bottom: 0;
    background-color: #969fa1;
}

.powerwidget-editbox div {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.powerwidget-editbox label {
    width: 15%;
    color: #fff;
    float: left;
    line-height: 25px;
}

.powerwidget-editbox span {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    float: left;
    margin: 7px 5px;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(255,255,255,.3)
}

.powerwidget-editbox span:hover { box-shadow: 0 0 0 4px rgba(0,0,0,.1) }

/* Timestamp */



.powerwidget-timestamp { font-size: .9em; }

/* Helpers */


.powerwidget-placeholder {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fullscreen */


body.nooverflow {
    overflow: hidden;
    position: fixed;
}

#powerwidget-fullscreen-mode {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

#powerwidget-fullscreen-mode .powerwidget {
    margin: 0;
    border-radius: 0;
}

#powerwidget-fullscreen-mode .powerwidget > div {
    overflow-y: scroll;
    border-radius: 0;
}

#powerwidget-fullscreen-mode > div > header { cursor: default; }

/* Styling */


.powerwidget {
    background-color: #c4c5c5;
    border-radius: 3px;
}

.powerwidget > header,
.powerwidget > header small { color: #fff; }

.powerwidget-ctrls { margin-right: 5px; }

.powerwidget-ctrls .button-icon {
    font-size: .9em;
    color: #fff;
    margin: 1px;
}

.powerwidget-loader {
    -webkit-animation: spin 3s infinite linear;
    -moz-animation: spin 3s infinite linear;
    -o-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
    font-size: 13px;
    margin-right: 5px;
    float: right;
    line-height: 38px;
    display: none;
}

.powerwidget-loader:before {
    font-family: FontAwesome;
    content: "\f1ce";
}

.powerwidget > div { background-color: #fff; }

.powerwidget-placeholder { background: url(../images/bg-stripped.png); }

/* Clearfix */


.powerwidget:before,
.powerwidget:after,
.powerwidget > div:before,
.powerwidget > div:after,
.inner-spacer:before,
.inner-spacer:after,
.powerwidget-editbox:before,
.powerwidget-editbox:after,
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.powerwidget:after,
.powerwidget > div:after,
.inner-spacer:after,
.powerwidget-editbox:after,
.clearfix:after { clear: both; }

.powerwidget,
.powerwidget > div,
.inner-spacer:after,
.powerwidget-editbox,
.clearfix { zoom: 1;/*IE*/ }



/* ========================================================================
 * ========================================================================
 * ========================================================================
 * 4. BOOTSTRAP OVERRIDE
 * ========================================================================
 * ========================================================================
 * ======================================================================== */


/* ========================================================================
 * Bootstrap Modal
 * ======================================================================== */

.modal {
    overflow: hidden;
    overflow-y: hidden;
}

.modal-content {
    position: relative;
    border: 0;
    border: 0;
    border-radius: 6px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    outline: none;
    -webkit-box-shadow: 0 0 0 6px rgba(0,0,0,.1);
    box-shadow: 0 0 0 6px rgba(0,0,0,.1);
}

.modal-header {
    padding: 15px;
    border: 0;
}

.modal-header i {
    font-size: 4em;
    color: #fff;
    line-height: 80px;
    text-align: center;
    width: 80px;
    display: block;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto;
    background: #969fa1
}

.modal-header .close { margin-top: -2px; }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    padding: 10px 20px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: 15px;
    text-align: right;
    border: 0;
}

/* ========================================================================
 * Bootstrap Popovers
 * ======================================================================== */


.popover {
    z-index: 1010;
    max-width: 276px;
    padding: 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #c0c2c7;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .05);
}

.popover .popover-title {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0;
}

.popover-tooltip-example {
    text-align: center;
}

ul.popover-tooltip-example {
    list-style: none;
    margin:0;
    padding:0;}

ul.popover-tooltip-example li {
    display: inline-block;
    margin-bottom: 5px;
}


/* ========================================================================
 * Bootstrap Dropdowns
 * ======================================================================== */


.dropdown-menu {
    font-size: 13px;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
}

/* ========================================================================
 * Boostrap Tables
 * ======================================================================== */


.table h1,
.table h2,
.table h3,
.table h4,
.table h5 {
    margin: 0;
    margin-bottom: 2px
}

.table {
    border-top: 0;
    background: #fff;
}

.table .num {
    font-size: 0.8em;
    display: inline-block;
    padding: 7px;
    width: 29px;
    text-align: center;
    border-radius: 35px;
    color: #fff;
    font-weight: 700;
    background-color: #d3d3d3;
}

.table .label {
    font-size: .75em;
    display: inline-block;
    margin: 2px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 6px 8px;
    vertical-align: middle;
    border-top: 1px solid #e2eae9;
}

.table > thead > tr > th {
    background: #858689;
    color: #fff;
    font-size: .87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #8b8c8d;
    padding: 7px 10px;
    border-bottom: 7px solid #ddd
}

.table > tfoot > tr > th {
    background: #ddd;
    color: #999;
    font-size: .87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #ddd;
    padding: 7px 10px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th { background-color: #d8e3e6; }

.table-hover > tbody > tr:hover > td .num,
.table-hover > tbody > tr:hover > th .num { background-color: #858689; }

/*Tables with Transparent thead and tfoot - the r air like*/

.table.airtable > thead > tr > th {
    color: #858689;
    background: transparent;
    font-size: .87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 7px 10px;
    border-bottom: 7px solid #ddd
}

.table.airtable > tfoot > tr > th {
    background: transparent;
    color: #999;
    font-size: .87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #fff;
    border-top: 7px solid #ddd;
    padding: 7px 10px;
}

/*Dark Tables*/

.table.table-dark { border-top: 0 }

.table.table-dark .num {
    color: #fff;
    background-color: #595F66;
}

.table.table-dark > thead > tr > th,
.table.table-dark > tfoot > tr > th {
    background: #595F66;
    color: #fff;
    font-size: .87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #595F66;
    padding: 7px 10px;
    border-bottom: 7px solid #33383d
}

.table.table-dark > tbody > tr > td {
    background: #33383d;
    border-top: 1px solid #33363b;
    color: #fff;
}

.table-striped.table-dark > tbody > tr:nth-child(odd) > td,
.table-striped.table-dark > tbody > tr:nth-child(odd) > th { background-color: #454B52; }

.table-hover.table-dark > tbody > tr:hover > td,
.table-hover.table-dark > tbody > tr:hover > th {
    background-color: #595F66;
    transition: background .2s ease-in-out; /*Annoyable Transition as a Experient*/
}

.table-hover.table-dark > tbody > tr:hover > td .num,
.table-hover.table-dark > tbody > tr:hover > th .num { background-color: #3c4250; }

.table-bordered.table-dark > tbody > tr > th,
.table-bordered.table-dark > tfoot > tr > th,
.table-bordered.table-dark > tbody > tr > td,
.table-bordered.table-dark > tfoot > tr > td { border: 1px solid #454B52; }


flip { 100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
}
}
@-moz-keyframes
flip { 100% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
}
}
@keyframes
flip { 100% {
    transform: rotateX(0deg);
    opacity: 1;
}
}

/* ===================== User Profile ========================= */
.panel-info > .panel-heading {
    background-color: #333333;
    border-color: #000000;
    color: #fff;
    margin-bottom: 20px;
}
h3 {
    color: inherit;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    line-height: 1em;
    margin-top: 10px;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
}